@charset "utf-8";

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

    
/***** header *****/
/***** *************** *****/
header {
    height: 100px;
    background-color: gray;
}

#header_box {
    height: 100px;
    width: 1367px;
    margin: 0 auto 5px auto;
    overflow: hidden;
    position: relative;
}

#header_box h1 {
    float: left;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 50px;
}
ul.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 35px;
}


ul.navigation li {
    width: 175px;
    float: left;
}

ul.navigation li a {
    display: block;
    padding-top: 99px;
    height: 0;     
}

#nav_home {
    background-image: url(../sampleimage/nav_home.gif);
}

#nav_tour {
    background-image: url(../sampleimage/nav_tour.gif);
}

#nav_about {
    background-image: url(../sampleimage/nav_about.gif);
}

#nav_contact {
    background-image: url(../sampleimage/nav_contact.gif);
}


#nav_home:hover,
#nav_tour:hover, 
#nav_about:hover, 
#nav_contact:hover {
    background-position: 0 -110px;
}

/***** header *****/
/***** *************** *****/

/***** contents main *****/
/***** *************** *****/

#main_area {
    background-color: black;
}

#top {
    width: 1367px;
    margin: 0 auto;
    overflow: hidden;
}

#main {
    width: 970px;
    float: left;   
}

#slider {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/***** contents main *******/
/***** *************** *****/

/***** contents search *****/
/***** *************** *****/

#search_area {
    width: 390px;
    margin: 5px 0 0 0;
    padding: 0;
    float: right;
}

#search {
    background-image: 
        url(../sampleimage/search.png),
        url(../sampleimage/search_background.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top 10px left 20px, top left;
    background-size: 50px, 350px;
    width: 350px;
    height: 625px;
    margin: 15px 35px 10px 5px;
    overflow: hidden;  
}

#search_left {
    float: left;
    margin: 10px 0 0 30px;
}

#search h2 {
    font-style: normal;
    color: azure;
    margin: 20px 0 20px 70px;
}

#search_section {
    margin: 0;
    padding: 0 0 30px 40px;
    font-size: 18px;
    color: azure;
    letter-spacing: 2px;
}

select::-ms-expand {
	display: none; 
}

select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-radius: 10px;
margin-bottom:  20px;
border: none; 
}

.place_section {
    padding: 8px 30px 8px 40px; 
    width: 250px;
    height: 50px;
    color: slategray;
}

.dep_flight {
    background-image: url(../sampleimage/departure.png),
    url(../sampleimage/yajirushi.png);
    background-repeat: no-repeat;
    background-position: left center, right center;
    background-size: 40px, 30px;
}

.arrival_flight {
    background-image: url(../sampleimage/destination.png),
    url(../sampleimage/yajirushi.png);
    background-repeat: no-repeat;
    background-position: left center, right center;
    background-size: 35px, 30px; 
}

input[type="date"] {
    width: 250px;
    padding: 8px 0;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none; 
    color: slategray;
}

.term_section {
    background-image:
    url(../sampleimage/yajirushi.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 20px; 
    width: 250px;
    padding: 8px 0 8px 10px;
    border: none; 
    color: slategray;
}

.search_button {
    margin-left: 45px;
}

.search_button:hover {
    opacity: 0.8;
}
/***** contents search *****/
/***** *************** *****/


/****** information ******/

#information {
    background-color: #fffacd;
}

#info_box {
    margin: 0 auto;
    padding: 0;
    width: 1367px;
    overflow: hidden;
}

#news {
    float: left;
    width: 900px;
    margin: 0 auto ;
    padding: 30px;
}

#news h2 {
    margin: 10px 0 20px 30px;
    color: #ff8c00;
}

#news_info {
    list-style-position: inside; 
    margin-right: 80px;
}

#news_info li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #cd853f;
    border-bottom: 1px dashed #ffd700;
}

aside {
    width: 350px;
    margin: 30px 10px 30px 0;
    padding-right: 20px;
    float: right;
}


/****** information ******/

/****** recommend ******/

#recommend {
    background-color: #fffacd;
}

#recommend_box {
    width: 1367px;
    margin: 0 auto;
    
}

.info{
    margin: 0 auto;
    padding: 30px;
}

.info h2 {
    margin: 10px 0 20px 40px;
    color: #ff8c00;
}

ul.tours {
    list-style-type: none;
    overflow: hidden;
    padding-bottom: 100px;
    margin: 30px auto 0 auto;
}

.tours li a {
    display: block;
    margin-right: 10px;
    float: left;
}



/******** footer **********/
footer {
    background-color: #f4a460;
}

.footer_box {
    width: 1367px;
    height: 70px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.button_right {
    position: absolute;
    top: -50px;
    right: 60px;
}

.button_right:hover {
    opacity: 0.8;
}

.copyright {
    text-align: center;
    color: slategray;
}

/*******************************/



    

